{% extends 'layout.twig' %}
{% block content %}
<section class="search_bar">
    <form action="" method="get">
        <input type="text" name="category">
        <input type="submit" value="Search">
    </form>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
        <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">Your daily news</h1>
        <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
            {% for article in articles %}
                <div class="lg:flex">
                    {% if article.urlToImage %}
                        <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="{{ article.urlToImage }}">
                    {% else %}
                        <img class="object-cover w-full h-56 rounded-lg lg:w-64" src="../styles/no-image.png">
                    {% endif %}
                    <div class="flex flex-col justify-between py-6 lg:mx-6">
                        <a id="url" target="_blank" href="{{ article.url }}"
                           class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
                            {{ article.title }}
                        </a>
                        <span class="text-sm text-gray-500 dark:text-gray-300">On: {{ article.date }}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}